@font-face {
  font-family: 'philosopher-regular';
  src: url('../fonts/philosopher-regular-webfont.woff') format('woff'),
  url('../fonts/philosopher-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scada-bold';
  src: url('../fonts/scada-bold-webfont.woff') format('woff'),
  url('../fonts/scada-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scada-regular';
  src: url('../fonts/scada-regular-webfont.woff') format('woff'),
  url('../fonts/scada-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
